# Arquivos gerados pelo Python
__pycache__/
*.pyc
.venv/
venv/

# Configurações do VS Code
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Senhas e segredos — NUNCA envie para o repositório!
.env
*.key
*.cnf
.pytest_cache/
target/
*.class